.container {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin-top: 60px;
  text-align: center;
  display: block;
}

.logoSSB {
  margin: 5px 5px;
  width: 250px;
  height: 250px;
  border-radius: 4px;
}

img {
  margin: 5px;
  align-content: center;
  transition: all 1s;
}

img:hover {
  transform: scale(1.2);
}
