.container {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin-top: 60px;
  text-align: center;
  display: block;
}

.logoSSB {
  margin: 5px 5px;
  width: 250px;
  height: 250px;
  border-radius: 4px;
}

img {
  margin: 5px;
  align-content: center;
  transition: all 1s;
}

.pageLink:hover {
  transform: scale(1.2);
}

@media (max-width: 576px) {
  .pageLink {
    width: 220px;
    height: 160px;
    display: flex;
    justify-content: center;
  }
}
