.container {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin-top: 60px;
  text-align: center;
  display: block;
}
.logoSSB {
  margin: 5px 5px;
  width: 250px;
  height: 250px;
  border-radius: 4px;
}

.bgPic {
  margin: 10px 5px;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 5px 3px;
  padding: 5px 0;
  font-size: medium;
}

.founderPic {
  border-radius: 100px;
}

@media (max-width: 576px) {
  .logoSSB {
    width: 120px;
    height: 120px;
    text-align: center;
  }

  .bgPic {
    margin: 10px 5px;
    border-radius: 5px;
    width: 495px;
    height: auto;
  }
}
