.container {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin-top: 60px;
  text-align: center;
  display: block;
}
.logoSSB {
  margin: 5px 5px;
  width: 250px;
  height: 250px;
  border-radius: 4px;
}

.bgPic {
  margin: 10px 5px;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .logoSSB {
    width: 220px;
    height: 160px;
    display: flex;
    justify-content: center;
  }
}
